/*Schrijf hier jouw css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F2F3D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #030027;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}
header p {
    font-size: 18px;
    font-weight: 600;
    margin: 40px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 40px;
}

li {
    padding-left: 40px;
    font-size: 14px;
    font-weight: 400;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

div {
    text-align: center;
    margin: 40px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.article-1, .article-2, .article-3 {
    background-color: #C16E70;
    flex-basis: 280px;
    flex-shrink: 1;
    flex-grow: 0;
    height: 350px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
}


