/*Schrijf hier jouw CSS*/

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.outer-col-1 {
    display: flex;
    flex-direction: column;
}
.outer-col-2 {
    display: flex;
    flex-direction: column;
}

.inner-col {
    display: flex;
    flex-direction: column;
}

.inner-row {
    display: flex;
    flex-direction: row;
}

nav {
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}

header {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

aside {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
}
footer {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

div {
    flex-grow: 1;
    flex-shrink: 1;
}
